# Tugas DSC ITB Solving Real-World Problems with Data Science<br>
  <h3>Nama : Benedictus Bimo Cahyo Wicaksono<br>
      NIM : 5025201097<br>
      Asal Universitas : Institut Teknologi Sepuluh Nopember<br>
      Tanggal Mulai : 8 November 2020-15<br>
      Sumber Dataset : Take Me Out

Disini saya memasukkan dataset Take Me Out yang diambil dari DSC ITB.

In [3]:
import pandas as pd

from sklearn.neighbors import NearestNeighbors

import pickle

import numpy as np

In [5]:
df = pd.read_csv('/content/takemeout.csv')

In [6]:
df.head()

                     Timestamp  ... Seberapa penting bantuan dari calon pacar untuk kamu?
0  2020/10/31 3:39:25 PM GMT+7  ...                                                  3
1  2020/10/31 3:39:36 PM GMT+7  ...                                                  2
2  2020/10/31 3:39:38 PM GMT+7  ...                                                  4
3  2020/10/31 3:39:42 PM GMT+7  ...                                                  3
4  2020/10/31 3:39:43 PM GMT+7  ...                                                  4

[5 rows x 8 columns]

# Data Preppocessing

Karena ada kolom yang tidak dibutuhkan, maka dilakukan penghapusan pada kolom "Timestamp".

In [7]:
df = df.iloc[:, 1:]

In [8]:
df.head()

  Siapa nama kamu?  ... Seberapa penting bantuan dari calon pacar untuk kamu?
0  A**************  ...                                                  3
1            L****  ...                                                  2
2     Y***********  ...                                                  4
3             a***  ...                                                  3
4            B****  ...                                                  4

[5 rows x 7 columns]

Disini saya mengganti format atau penamaan dari setiap kolom untuk mempermudah proses pembacaan data.

In [9]:
df.columns = ['name', 'gender', 'qt', 'touch', 'words', 'gift', 'service']

In [10]:
df.head()

              name gender  qt  touch  words  gift  service
0  A**************  Cowok   5      5      4     1        3
1            L****  Cewek   5      5      3     2        2
2     Y***********  Cowok   4      3      4     4        4
3             a***  Cowok   5      5      5     2        3
4            B****  Cowok   5      5      5     2        4

Disini saya menetapkan "0" untuk Cowok dan "1" untuk Cewek.

In [11]:
df['gender'] = df['gender'].apply(lambda x: 0 if x == 'Cowok' else 1)

In [12]:
m_df = df[df['gender'] == 0]
f_df = df[df['gender'] == 1]

In [13]:
m_X = m_df.drop(['name', 'gender'], axis=1)
f_X = m_df.drop(['name', 'gender'], axis=1)

# Model Development

Percobaan pertama untuk laki-laki dan perempuan (Sesuai di Youtube)

In [14]:
m_nbrs = NearestNeighbors(n_neighbors=5).fit(m_X)
f_nbrs = NearestNeighbors(n_neighbors=5).fit(f_X)

In [15]:
X = df.drop(['name', 'gender'], axis=1)

In [16]:
test = X[df['name'] == 'i****'].values

In [17]:
_, idx = f_nbrs.kneighbors(test)

In [18]:
idx

array([[41, 77,  7, 74, 71]])

Setelah melakukan perintah-perintah diatas, saya mendapatkan hasil yang kemungkinan paling cocok untuk peserta dengan nama "i****", adalah sebagai berikut,

In [19]:
m_df.iloc[idx[0]]['name']

51                  i****
96              A********
8     R******************
92              D********
89                   D***
Name: name, dtype: object

Percobaan kedua untuk laki-laki dan laki-laki

In [20]:
m_nbrs = NearestNeighbors(n_neighbors=5).fit(m_X)
f_nbrs = NearestNeighbors(n_neighbors=5).fit(f_X)

In [32]:
X = df.drop(['name', 'gender'], axis=1)

In [33]:
test = X[df['name'] == 'A*'].values

In [34]:
_, idx = f_nbrs.kneighbors(test)

In [35]:
idx

array([[57, 14, 52,  1, 39]])

Setelah melakukan perintah-perintah diatas, saya mendapatkan hasil yang kemungkinan paling cocok untuk peserta dengan nama "A", adalah sebagai berikut,

In [38]:
m_df.iloc[idx[0]]['name']

74             R****
15                A*
66              a***
2       Y***********
48    R*************
Name: name, dtype: object

Dari Model Development diatas, dilakukan berbagai percobaan untuk mendapatkan kemungkinan yang paling cocok antara 1 data dengan data yang lain, dalam kasus jenis kelamin/gender yang diujikan diatas, maka diberlakukan pengujian dengan mengecek nilai dari variabel yang ada, misalnya untuk data dengan nilai qt, touch, words, gift, dan service yang tinggi, akan diusahakan untuk berpasangan dengan data yang memiliki nilai qt, touch, words, gift, dan service yang tinggi juga.

# Statistik Data

Berikut adalah statistik data dari dataset Take Me Out yang telah dikumpulkan pada event-2 DSC ITB.

In [29]:
df.describe()

           gender          qt       touch       words        gift     service
count  101.000000  101.000000  101.000000  101.000000  101.000000  101.000000
mean     0.198020    4.099010    3.168317    3.722772    2.732673    3.752475
std      0.400495    1.212476    1.334686    1.209287    1.325829    1.143730
min      0.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      0.000000    4.000000    2.000000    3.000000    2.000000    3.000000
50%      0.000000    5.000000    3.000000    4.000000    3.000000    4.000000
75%      0.000000    5.000000    4.000000    5.000000    4.000000    5.000000
max      1.000000    5.000000    5.000000    5.000000    5.000000    5.000000

In [30]:
pickle.dump(m_nbrs, open('/content/m_model.pickle', 'wb'))
pickle.dump(f_nbrs, open('/content/f_model.pickle', 'wb'))

In [31]:
df.to_csv('/content/data.csv', index=False)