##**Jason Kanggara / 16520214 / Institut Teknologi Bandung**
- Tanggal Pengerjaan : 9 November 2020
- sumber: TakeMeOut

In [39]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

# Data Preperation

In [8]:
df = pd.read_csv('/content/takemeout.csv')

In [9]:
df.head()

                     Timestamp  ... Seberapa penting bantuan dari calon pacar untuk kamu?
0  2020/10/31 3:39:25 PM GMT+7  ...                                                  3
1  2020/10/31 3:39:36 PM GMT+7  ...                                                  2
2  2020/10/31 3:39:38 PM GMT+7  ...                                                  4
3  2020/10/31 3:39:42 PM GMT+7  ...                                                  3
4  2020/10/31 3:39:43 PM GMT+7  ...                                                  4

[5 rows x 8 columns]

# Data Preprocessing

In [10]:
df = df.iloc[:, 1:]

In [11]:
df.head()

  Siapa nama kamu?  ... Seberapa penting bantuan dari calon pacar untuk kamu?
0  A**************  ...                                                  3
1            L****  ...                                                  2
2     Y***********  ...                                                  4
3             a***  ...                                                  3
4            B****  ...                                                  4

[5 rows x 7 columns]

In [12]:
df.columns = ['nama', 'gender', 'qualityTime', 'physicalTouch', 'wordAffirmation', 'kado', 'bantuan']

In [13]:
df.head()

              nama gender  qualityTime  ...  wordAffirmation  kado  bantuan
0  A**************  Cowok            5  ...                4     1        3
1            L****  Cewek            5  ...                3     2        2
2     Y***********  Cowok            4  ...                4     4        4
3             a***  Cowok            5  ...                5     2        3
4            B****  Cowok            5  ...                5     2        4

[5 rows x 7 columns]

In [14]:
df['gender'] = df['gender'].apply(lambda x: 0 if x == 'Cowok' else 1)

In [15]:
df.head()

              nama  gender  qualityTime  ...  wordAffirmation  kado  bantuan
0  A**************       0            5  ...                4     1        3
1            L****       1            5  ...                3     2        2
2     Y***********       0            4  ...                4     4        4
3             a***       0            5  ...                5     2        3
4            B****       0            5  ...                5     2        4

[5 rows x 7 columns]

In [16]:
m_df = df[df['gender'] == 0]
f_df = df[df['gender'] == 1]

In [17]:
m_X = m_df.drop(['nama', 'gender'], axis = 1)
f_X = f_df.drop(['nama', 'gender'], axis = 1)

# Model Development

In [18]:
m_nbrs = NearestNeighbors(n_neighbors=5).fit(m_X)
f_nbrs = NearestNeighbors(n_neighbors=5).fit(f_X)

In [19]:
X = df.drop(['nama', 'gender'], axis = 1)

In [20]:
test = X[df['nama'] == 'R****'].values

In [21]:
_, idx = f_nbrs.kneighbors(test)

In [22]:
idx

array([[ 2,  5,  0, 15,  6],
       [14,  9,  3, 18,  1],
       [18,  9, 16, 14,  3],
       [19,  0, 18, 17, 16]])

In [23]:
f_df.iloc[idx[0]]['nama']

20    F*************
27             v****
1              L****
72            N*****
33              H***
Name: nama, dtype: object

# Presentation
- Pertama melakukan data cleaning sehingga data lebih mudah terbaca dan tidak ada informasi informasi yang tidak kita inginkan
- Lalu mencari/mengambil salah satu individu sebagai testing untuk mencari siapa saja yang cocok dengan dia sesuai dengan setiap bagian data yang dimilikinya.

## Insight
Untuk materi ini saya baru bisa mengikuti hands on yang dilakukan dengan youtube dan data yang telah diberikan oleh pemateri. Karena kurangnya belajar saya sehingga masih belum dapat mengaplikasikan hal hal baru kedalam data ini. Akan tetapi, dengan diberikannya tugas ini saya lebih mengeksplor banyak mengenai data science, seperti apa saja tahapan yang perlu dilakukan dalam proses menganilisis data seperti data cleaning, data preprocessing, data observation, dan model developement. Saya juga mulai mengerti cara melakukan analisis data dengan jupyter notebook (Google Colab). Selain itu, saya juga mendapatkan banyak hal baru yang dapat digunakan untuk mengolah data, seperti penggunaan bahasa R, library library untuk analisis data, misalnya matplotlib, numpy, seaborn, pandas. Karena kurang latihan saya masih kurang bisa untuk menambah fitur baru kedalam projek analisis data ini. Terima kasih