Nama : Muhammad Alif Darmamulia

NIM : 10119059

Asal Universitas : Institut Teknologi Bandung

Mulai Pengerjaan : 09/11/2020

In [1]:
"""
TO-DO:
1. Observasi data & Cleaning data
2. Kelompokkan data berdasar tanggal
3. 
"""

'\nTO-DO:\n1. Observasi data & Cleaning data\n2. Kelompokkan data berdasar tanggal\n3. \n'

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("covid_19_data.csv")
n = len(df)
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [3]:
df.tail()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
116800,116801,09/23/2020,Zaporizhia Oblast,Ukraine,2020-09-24 04:23:38,3149.0,49.0,1158.0
116801,116802,09/23/2020,Zeeland,Netherlands,2020-09-24 04:23:38,1270.0,72.0,0.0
116802,116803,09/23/2020,Zhejiang,Mainland China,2020-09-24 04:23:38,1282.0,1.0,1272.0
116803,116804,09/23/2020,Zhytomyr Oblast,Ukraine,2020-09-24 04:23:38,5191.0,92.0,2853.0
116804,116805,09/23/2020,Zuid-Holland,Netherlands,2020-09-24 04:23:38,29513.0,1372.0,0.0

Data Observation

In [4]:
column = ["SNo", "ObservationDate", "Province/State", "Country/Region", "Last Update", "Confirmed", "Deaths", "Recovered"]

for col in column:
    print(col,"=",df[col].isnull().sum(), end="\n")
print("Data Length :",len(df))

SNo = 0
ObservationDate = 0
Province/State = 35353
Country/Region = 0
Last Update = 0
Confirmed = 0
Deaths = 0
Recovered = 0
Data Length : 116805

Cleaning Data (Untuk 2 cell pertama)

In [5]:
df = df.drop(columns=["SNo", "Last Update"])
df = df.fillna("Undefinied")

In [6]:
df_update1 = df.groupby(["Country/Region", "ObservationDate"]).mean()
# df_update1.to_csv('data_filtered.csv') // Dijadikan komen karena telah tersimpan file datasetnya. Kecuali apabila filenya belum ada

In [7]:
# Mendeskripsikan summary data observasi secara keseluruhan 
df_update1.describe()

          Confirmed        Deaths      Recovered
count   38831.00000  38831.000000   38831.000000
mean    16447.37156    545.655610   10743.058545
std     48287.35734   1901.071354   37001.298678
min         0.00000      0.000000       0.000000
25%       138.00000      2.000000      25.000000
50%      1552.00000     31.000000     668.000000
75%     10149.00000    249.000000    5129.000000
max    665188.00000  31106.000000  594229.000000

In [8]:
df2 = pd.read_csv('data_filtered.csv')
df2.head()

    Country/Region ObservationDate  Confirmed  Deaths  Recovered
0       Azerbaijan      02/28/2020        1.0     0.0        0.0
1  ('St. Martin',)      03/10/2020        2.0     0.0        0.0
2      Afghanistan      02/24/2020        1.0     0.0        0.0
3      Afghanistan      02/25/2020        1.0     0.0        0.0
4      Afghanistan      02/26/2020        1.0     0.0        0.0

In [9]:
from dateutil.parser import parse

last_ = int(df2["ObservationDate"][0].replace("/",""))
idx = 0
for i in range(len(df2)):
    last1_ = int(df2["ObservationDate"][i].replace("/",""))
    if last1_ > last_ :
        idx = i
        last_ = last1_    
# Mendapatkan tanggal final observasi
(parse(df2["ObservationDate"][idx]) - parse("09/09/2020"))

datetime.timedelta(days=14)

In [10]:
# Mengambil nama-nama negara yang diobservasi
arr_country = np.unique(df2["Country/Region"])

In [19]:
countor = len(df2)//len(arr_country)

set_country_name = [] # Set nama negara yang bersesuaian dengan koefisien korelasinya
set_dataFrame1 = [] # Set koefisien korelasi antara penambahan hari dengan peningkatan kasus positif
set_dataFrame2 = [] # Set koefisien korelasi antara penambahan hari dengan peningkatan kasus sembuh
set_dataFrame3 = [] # Set koefisien korelasi antara penambahan hari dengan peningkatan kasus meninggal

for sign in arr_country:
    arr_date_count = []
    arr_increase_case = []
    arr_healthy_case = []
    arr_death_case = []
    if len(df2.loc[df2["Country/Region"] == sign]) >= countor: # Hanya ditinjau pada negara-negara yang telah publikasi sebanyak >= 174 kasus
        dataset = df2.loc[df2["Country/Region"] == sign]
        set_country_name.append(sign)
        early_time = dataset["ObservationDate"].iloc[0]
        idx = 0
        for time in dataset["ObservationDate"]:
            time_delta = (parse(time) - parse(early_time)).days
            arr_date_count.append(time_delta)
            arr_increase_case.append(dataset["Confirmed"].iloc[idx])
            arr_healthy_case.append(dataset["Recovered"].iloc[idx])
            arr_death_case.append(dataset["Deaths"].iloc[idx])
            idx += 1
        corrcoef1 = np.corrcoef([arr_date_count, arr_increase_case])
        corrcoef2 = np.corrcoef([arr_date_count, arr_healthy_case])
        corrcoef3 = np.corrcoef([arr_date_count, arr_death_case])
        set_dataFrame1.append(corrcoef1[1][0])
        set_dataFrame2.append(corrcoef2[1][0])
        set_dataFrame3.append(corrcoef3[1][0])

Data = {"Country" : set_country_name, "Koefisien Korelasi Penambahan Kasus" : set_dataFrame1
       , "Koefisien Korelasi Kasus Sembuh" : set_dataFrame2, "Koefisien Korelasi Kasus Meninggal" : set_dataFrame3}

df_final = pd.DataFrame(data=Data)
df_final

,Country,Koefisien Korelasi Penambahan Kasus,Koefisien Korelasi Kasus Sembuh,Koefisien Korelasi Kasus Meninggal
0,Afghanistan,0.954380,0.928012,0.956116
1,Albania,0.916303,0.918440,0.900108
2,Algeria,0.947584,0.944558,0.996659
3,Andorra,0.910058,0.934388,0.800817
4,Angola,0.861227,0.842722,0.877871
5,Antigua and Barbuda,0.949581,0.951123,0.635080
6,Argentina,0.852977,0.792994,0.842842
7,Armenia,0.967169,0.939233,0.959801
8,Australia,0.928616,0.916085,0.804536
9,Austria,0.934142,0.955717,0.858642
10,Azerbaijan,0.956865,0.931022,0.947977
11,Bahamas,0.792898,0.674735,0.747596
12,Bahrain,0.966293,0.949816,0.942644
13,Bangladesh,0.966775,0.928385,0.964987
14,Barbados,0.948004,0.975399,0.668303
15,Belarus,0.962442,0.967369,0.988560
16,Belgium,0.966094,0.924433,0.880329
17,Belize,0.728796,0.575466,0.705023
18,Benin,0.961304,0.913536,0.944905
19,Bhutan,0.925031,0.924004,NaN
20,Bolivia,0.939549,0.846429,0.894594
21,Bosnia and Herzegovina,0.910505,0.878534,0.933550
22,Botswana,0.874175,0.736768,0.689707
23,Brazil,0.685848,0.856025,0.307244
24,Brunei,0.554453,0.709165,0.915765
25,Bulgaria,0.947005,0.915335,0.954976
26,Burkina Faso,0.968392,0.960812,0.789842
27,Burma,0.573197,0.744320,0.436101
28,Burundi,0.965913,0.955368,0.451843
29,Cabo Verde,0.945652,0.892393,0.944156
...,...,...,...,...
153,Somalia,0.946269,0.960483,0.902530
154,South Africa,0.920714,0.889240,0.901533
155,South Korea,0.942876,0.969572,0.928777
156,Spain,-0.164705,-0.131105,-0.183331
157,Sri Lanka,0.975024,0.954609,0.919696
158,Sudan,0.974444,0.957655,0.968978
159,Suriname,0.872895,0.836323,0.853966
160,Sweden,0.003994,-0.079597,-0.034400
161,Switzerland,0.903905,0.915519,0.816577
162,Syria,0.835653,0.863739,0.833491
163,Taiwan,0.865411,0.919456,0.851933
164,Tanzania,0.733627,0.744554,0.761685
165,Thailand,0.878048,0.900376,0.859436
166,Timor-Leste,0.694603,0.777545,NaN
167,Togo,0.975756,0.958497,0.955051
168,Trinidad and Tobago,0.672248,0.641222,0.655684
169,Tunisia,0.724830,0.960712,0.851193
170,Turkey,0.977132,0.983253,0.952035
171,UK,0.874648,0.912181,0.821044
172,US,0.956802,0.917558,0.982349
173,Uganda,0.820761,0.918925,0.714458
174,Ukraine,0.001758,0.279518,-0.057404
175,United Arab Emirates,0.977616,0.952089,0.961798
176,Uruguay,0.982197,0.990396,0.991298
177,Uzbekistan,0.916564,0.875277,0.862914
178,Venezuela,0.857144,0.803624,0.865005
179,Vietnam,0.917360,0.924904,0.700595
180,West Bank and Gaza,0.878973,0.818042,0.862240
181,Zambia,0.888771,0.858772,0.884650
182,Zimbabwe,0.882296,0.793168,0.828767

In [20]:
# Investigasi mengapa adanya nilai NaN
np.corrcoef([[1,4,5,7,8,9],[0,0,0,0,0,0]])

array([[ 1., nan],
       [nan, nan]])

In [21]:
df_final.describe()

,Koefisien Korelasi Penambahan Kasus,Koefisien Korelasi Kasus Sembuh,Koefisien Korelasi Kasus Meninggal
count,182.000000,182.000000,169.000000
mean,0.838819,0.844243,0.809737
std,0.230792,0.203056,0.242896
min,-0.232133,-0.131105,-0.205843
25%,0.825867,0.831390,0.793317
50%,0.917930,0.911056,0.888168
75%,0.959410,0.950861,0.951760
max,0.996341,0.991231,0.996659

Kesimpulan:

Dari statistika deskriptif diatas, menyatakan bahwa dari sekumpulan sampel data yang diuji, menunjukkan bahwa dari rentang bulan Januari hingga September, rata-rata negara-negara di dunia masih mengalami peningkatan kasus positif seiring bertambahnya hari. Di sisi lain, angka kesembuhan dan meninggal dunia pun mengalami hal yang sama.