In [166]:
#### Name : Faustina Leonita
#### Major : Petroleum Engineering
#### University : Universitas Pertamina
#### Tanggal Pengerjaan Tugas : 13 November 2020

In [150]:
import pandas as pd

In [151]:
df = pd.read_csv("D:/DOCUMENTS/ORGANIZATION/GDSC ITB/DSCDataScience/takemeout.csv").fillna(0)

In [152]:
df.head()

,Timestamp,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,2020/10/31 3:39:25 PM GMT+7,A**************,Cowok,5,5,4,1,3
1,2020/10/31 3:39:36 PM GMT+7,L****,Cewek,5,5,3,2,2
2,2020/10/31 3:39:38 PM GMT+7,Y***********,Cowok,4,3,4,4,4
3,2020/10/31 3:39:42 PM GMT+7,a***,Cowok,5,5,5,2,3
4,2020/10/31 3:39:43 PM GMT+7,B****,Cowok,5,5,5,2,4

Disini, saya akan melampirkan file takemeout.csv dengan meng-import library pandas. Di kolom atas terdapat fillna(0), yang artinya jika datanya berupa NaN, maka code tersebut akan otomatis merubah tulisan NaN menjadi 0

# Data Preprocessing

In [153]:
df = df.iloc[:, 1:]

In [154]:
df.head()

,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,A**************,Cowok,5,5,4,1,3
1,L****,Cewek,5,5,3,2,2
2,Y***********,Cowok,4,3,4,4,4
3,a***,Cowok,5,5,5,2,3
4,B****,Cowok,5,5,5,2,4

Pada codingan diatas, saya melampirkan kolom dari nama, gender, quality time, physical touch, words of affirmation, gift, dan help. Sedangkan kolom timestamp tidak ditampilkan

In [155]:
df.rename(columns={"Siapa nama kamu?":"Name", "Cewek atau cowok nih?":"Gender", "Seberapa penting quality time bareng calon pacar untuk kamu?":"Quality Time", "Seberapa penting physical touch sama calon pacar untuk kamu?":"Physical Touch", "Seberapa penting word of affirmation dari calon pacar untuk kamu?":"Words of Affirmation", "Seberapa penting dapet kado dari calon pacar untuk kamu?":"Gift", "Seberapa penting bantuan dari calon pacar untuk kamu?":"Help"}, inplace=True)

In [156]:
df.head()

,Name,Gender,Quality Time,Physical Touch,Words of Affirmation,Gift,Help
0,A**************,Cowok,5,5,4,1,3
1,L****,Cewek,5,5,3,2,2
2,Y***********,Cowok,4,3,4,4,4
3,a***,Cowok,5,5,5,2,3
4,B****,Cowok,5,5,5,2,4

Pada codingan diatas, saya mengganti nama kolom yang tertera dalam file csv menjadi nama yang telah saya ganti dan tertera dalam tabel

In [157]:
df['Gender'] = df['Gender'].apply(lambda x:0 if x == "Cowok" else 1)

In [158]:
m_df = df[df['Gender'] == 0]
fm_df = df[df['Gender'] == 1]

In [168]:
df.head()

,Name,Gender,Quality Time,Physical Touch,Words of Affirmation,Gift,Help
0,A**************,0,5,5,4,1,3
1,L****,1,5,5,3,2,2
2,Y***********,0,4,3,4,4,4
3,a***,0,5,5,5,2,3
4,B****,0,5,5,5,2,4

Dalam codingan diatas, saya mencoba merubah jenis kelamin dengan membedakan gender cowok dan cewek

# Data Processing

In [160]:
df.describe()

,Gender,Quality Time,Physical Touch,Words of Affirmation,Gift,Help
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,0.198020,4.099010,3.168317,3.722772,2.732673,3.752475
std,0.400495,1.212476,1.334686,1.209287,1.325829,1.143730
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,4.000000,2.000000,3.000000,2.000000,3.000000
50%,0.000000,5.000000,3.000000,4.000000,3.000000,4.000000
75%,0.000000,5.000000,4.000000,5.000000,4.000000,5.000000
max,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000

Dari codingan tersebut, saya mendapatkan nilai total penjumlahan dari gender, quality time, physical touch, words of affirmation, gift, dan help dengan total dari keseluruhan data yang telah diisi di formnya terdapat 101 orang yang telah mengisi form tersebut. Kemudian dari tabel tersebut, didapat hasil dari mean (rata-rata), standar deviasi (STD), nilai minimal dan maksimal, Q1 (kuartil 1) dan Q3 (kuartil 3), dan juga Q2 (kuartil 2) yang juga merupakan median dari data csv

In [161]:
df["Quality Time"].corr(df["Gender"])

-0.14374661623537008

In [162]:
df["Physical Touch"].corr(df["Gender"])

-0.1939319896761031

In [163]:
df["Words of Affirmation"].corr(df["Gender"])

-0.17458628177857227

In [164]:
df["Gift"].corr(df["Gender"])

-0.012306606673224151

In [165]:
df["Help"].corr(df["Gender"])

-0.022912056706065307

Dari codingan tersebut, saya mencoba mencari koefisien korelasi. Lalu, saya membandingkan antara gender dengan physical touch, words of affirmation, quality time, help, dan gift dengan secara satu-satu. Dari hasil tersebut dapat disimpulkan bahwa korelasi gender dengan physical touch, gift, help, dan quality time, dengan hasil yang telah didapat semuanya mendekati 0. Artinya semakin korelasi tersebut mendekati 0, maka perbandingan antara 2 kolom tersebut tidak ada korelasinya

Sumber dataset : takemeout.csv