#### Nama : Kristo Abdi Wiguna
#### NIM : 16520028
#### Institut Teknologi Bandung 
#### Tanggal : 7 November 2020
#### Sumber dataset : TakeMeOut.csv

In [1]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
dt = pd.read_csv(r"D:/02_ITB 2020-2021/UKM/DSC/DSCDataScience/EksplorasiData_Kristo/takemeout.csv")

In [3]:
dt.head()

,Timestamp,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,2020/10/31 3:39:25 PM GMT+7,A**************,Cowok,5,5,4,1,3
1,2020/10/31 3:39:36 PM GMT+7,L****,Cewek,5,5,3,2,2
2,2020/10/31 3:39:38 PM GMT+7,Y***********,Cowok,4,3,4,4,4
3,2020/10/31 3:39:42 PM GMT+7,a***,Cowok,5,5,5,2,3
4,2020/10/31 3:39:43 PM GMT+7,B****,Cowok,5,5,5,2,4

### Data Cleaning

In [4]:
dt = dt.iloc[:,1:]

In [5]:
dt.head()

,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,A**************,Cowok,5,5,4,1,3
1,L****,Cewek,5,5,3,2,2
2,Y***********,Cowok,4,3,4,4,4
3,a***,Cowok,5,5,5,2,3
4,B****,Cowok,5,5,5,2,4

In [6]:
dt.columns = ['name','sex','qt','touch','words','gift','serv']

In [7]:
dt.head()

              name    sex  qt  touch  words  gift  serv
0  A**************  Cowok   5      5      4     1     3
1            L****  Cewek   5      5      3     2     2
2     Y***********  Cowok   4      3      4     4     4
3             a***  Cowok   5      5      5     2     3
4            B****  Cowok   5      5      5     2     4

### Data Preparation

In [8]:
dt['sex'] = dt['sex'].apply(lambda x: 0 if x == 'Cowok' else 1)

In [9]:
m_dt = dt[dt['sex']==0]
f_dt = dt[dt['sex']==1]

In [10]:
dt.head()

              name  sex  qt  touch  words  gift  serv
0  A**************    0   5      5      4     1     3
1            L****    1   5      5      3     2     2
2     Y***********    0   4      3      4     4     4
3             a***    0   5      5      5     2     3
4            B****    0   5      5      5     2     4

In [11]:
m_X = m_dt.drop(['name','sex'],axis=1)
f_X = f_dt.drop(['name','sex'],axis=1)

## Data Model Development

In [12]:
m_nbrs = NearestNeighbors(n_neighbors=5).fit(m_X)
f_nbrs = NearestNeighbors(n_neighbors=5).fit(f_X)

In [13]:
X = dt.drop(['name','sex'], axis=1)

#### Data Testing For Match

In this test, we can use to type our name to see who are our match in the context of type of dating

In [14]:
test = X[dt['name'] == input()].values
#### Example input : D***

In [15]:
_, id = f_nbrs.kneighbors(test)

In [16]:
id

array([[16,  9, 18, 19,  5],
       [ 2, 17,  0,  5, 15]], dtype=int64)

In [17]:
f_dt.iloc[id[0]]['name']

73             R***
49           A*****
93          F******
97    K************
27            v****
Name: name, dtype: object

#### Data Insights

In [18]:
scnt = dt["sex"].value_counts()
print(scnt)

0    81
1    20
Name: sex, dtype: int64

Count Men : 81
Count Women : 20
Dominantly men noted on this insights

In [19]:
dt[input()].corr(dt["sex"])
#### input() : "touch", "gift", "serv", "qt", "words"
#### Untuk melihat korelasi dari gender untuk preferensi type dating
#### Semakin mendekati 0, semakin dua kolom tidak berkorelasi.
#### Semakin mendekati 1, semakin dua kolom berbanding lurus.
#### Semakin mendekati -1, semakin dua kolom berbanding terbalik

#### Example input : touch
#### Insight : Jika dicoba satu-satu terdapat insight bahwa physical touch,qt,dan words masih memiliki korelasi -0,2 hampir berbanding terbalik, dan untk gift dan service hampir tidak berkorelasi. Hal ini dapat disimpulkan bahwa preferensi masing-masing type dating berbeda tanpa memandang gender.

-0.1939319896761031

#### Basic Data Statistic

#### Men Average Preference of Physical Touch, Quality Time, Words, Gift, or Service

In [20]:
print(m_dt["qt"].mean())
print(m_dt["touch"].mean())
print(m_dt["words"].mean())
print(m_dt["gift"].mean())
print(m_dt["serv"].mean())

4.185185185185185
3.2962962962962963
3.8271604938271606
2.740740740740741
3.765432098765432

#### Women Average Preference of Physical Touch, Quality Time, Words, Gift, or Service

In [21]:
print(f_dt["qt"].mean())
print(f_dt["touch"].mean())
print(f_dt["words"].mean())
print(f_dt["gift"].mean())
print(f_dt["serv"].mean())

3.75
2.65
3.3
2.7
3.7

#### Men Maximum & Minimum Preference of Physical Touch, Quality Time, Words, Gift, or Service

In [22]:
print(m_dt["qt"].max())
print(m_dt["touch"].max())
print(m_dt["words"].max())
print(m_dt["gift"].max())
print(m_dt["serv"].max())

print(m_dt["qt"].min())
print(m_dt["touch"].min())
print(m_dt["words"].min())
print(m_dt["gift"].min())
print(m_dt["serv"].min())

5
5
5
5
5
1
1
1
1
1

#### Women Maximum & Minimum Preference of Physical Touch, Quality Time, Words, Gift, or Service

In [23]:
print(f_dt["qt"].max())
print(f_dt["touch"].max())
print(f_dt["words"].max())
print(f_dt["gift"].max())
print(f_dt["serv"].max())

print(f_dt["qt"].min())
print(f_dt["touch"].min())
print(f_dt["words"].min())
print(f_dt["gift"].min())
print(f_dt["serv"].min())

5
5
5
5
5
1
1
1
1
1

Insight : Jika dicoba satu-satu terdapat insight bahwa physical touch,qt,dan words masih memiliki korelasi negatif -0,2 hampir berbanding terbalik, dan untk gift dan service hampir tidak berkorelasi menuju 0 dari negatif. 

Hal ini dapat disimpulkan bahwa preferensi masing-masing type dating berbeda.

Juga didapatkan perbedaan rata-rata dari preferensi antara laki-laki dan wanita, untuk laki-laki dalam aspek physical touch lebih penting daripada wanita.