In [71]:
import pandas as pd

from sklearn.neighbors import NearestNeighbors

import pickle

In [51]:
df = pd.read_csv('takemeout.csv')

In [52]:
df.head()

,Timestamp,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,2020/10/31 3:39:25 PM GMT+7,A**************,Cowok,5,5,4,1,3
1,2020/10/31 3:39:36 PM GMT+7,L****,Cewek,5,5,3,2,2
2,2020/10/31 3:39:38 PM GMT+7,Y***********,Cowok,4,3,4,4,4
3,2020/10/31 3:39:42 PM GMT+7,a***,Cowok,5,5,5,2,3
4,2020/10/31 3:39:43 PM GMT+7,B****,Cowok,5,5,5,2,4

# Data Preprocessing

In [53]:
df = df.iloc[:, 1:]

In [54]:
df.head()

,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,A**************,Cowok,5,5,4,1,3
1,L****,Cewek,5,5,3,2,2
2,Y***********,Cowok,4,3,4,4,4
3,a***,Cowok,5,5,5,2,3
4,B****,Cowok,5,5,5,2,4

In [55]:
df.columns = ['name', 'gender', 'qt', 'touch', 'word', 'gift', 'help']

In [56]:
df.head()

              name gender  qt  touch  word  gift  help
0  A**************  Cowok   5      5     4     1     3
1            L****  Cewek   5      5     3     2     2
2     Y***********  Cowok   4      3     4     4     4
3             a***  Cowok   5      5     5     2     3
4            B****  Cowok   5      5     5     2     4

In [57]:
df['gender'] = df['gender'].apply(lambda x : 0 if x == 'Cowok' else 1)

In [58]:
m_df = df[df['gender'] == 0]
f_df = df[df['gender'] == 1]

In [59]:
m_x = m_df.drop(['name', 'gender'], axis = 1)
f_x = f_df.drop(['name', 'gender'], axis = 1)

# Model Development

In [61]:
m_nbrs = NearestNeighbors(n_neighbors=5).fit(m_x)
f_nbrs = NearestNeighbors(n_neighbors=5).fit(f_x)

In [62]:
x = df.drop(['name', 'gender'], axis = 1)

In [65]:
test = x[df['name'] == 'a******'].values

In [66]:
_, idx = f_nbrs.kneighbors(test)

In [67]:
idx

array([[ 2, 15, 10,  7,  5],
       [14,  1, 18,  9,  3]], dtype=int64)

In [70]:
f_df.iloc[idx[0]]['name']

20           F*************
72                   N*****
54                    H****
46    A********************
27                    v****
Name: name, dtype: object

In [73]:
pickle.dump(m_nbrs, open('m_model.pickle', 'wb'))
pickle.dump(f_nbrs, open('f_model.pickle', 'wb'))

In [74]:
df.to_csv('data.csv', index = False)