In [1]:
# Nama: Anak Agung Ryoma Saputra
# NIM: 16520381
# Asal Universitas: Institut Teknologi Bandung
# Tanggal: 15 Oktober 2020
# Sumber data set: takemeout

In [2]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
import pickle
df = pd.read_csv("C:\\Users\\ryoma\\Downloads\\takemeout.csv")

In [3]:
df.head()

,Timestamp,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,2020/10/31 3:39:25 PM GMT+7,A**************,Cowok,5,5,4,1,3
1,2020/10/31 3:39:36 PM GMT+7,L****,Cewek,5,5,3,2,2
2,2020/10/31 3:39:38 PM GMT+7,Y***********,Cowok,4,3,4,4,4
3,2020/10/31 3:39:42 PM GMT+7,a***,Cowok,5,5,5,2,3
4,2020/10/31 3:39:43 PM GMT+7,B****,Cowok,5,5,5,2,4

# Data Preprocessing

In [4]:
df = df.iloc[:, 1:]

In [5]:
df.head()

,Siapa nama kamu?,Cewek atau cowok nih?,Seberapa penting quality time bareng calon pacar untuk kamu?,Seberapa penting physical touch sama calon pacar untuk kamu?,Seberapa penting word of affirmation dari calon pacar untuk kamu?,Seberapa penting dapet kado dari calon pacar untuk kamu?,Seberapa penting bantuan dari calon pacar untuk kamu?
0,A**************,Cowok,5,5,4,1,3
1,L****,Cewek,5,5,3,2,2
2,Y***********,Cowok,4,3,4,4,4
3,a***,Cowok,5,5,5,2,3
4,B****,Cowok,5,5,5,2,4

In [6]:
df.columns = ["nama", "gender", "kualitas", "fisik", "kata", "kado", "bantuan"]

In [7]:
df.head()

              nama gender  kualitas  fisik  kata  kado  bantuan
0  A**************  Cowok         5      5     4     1        3
1            L****  Cewek         5      5     3     2        2
2     Y***********  Cowok         4      3     4     4        4
3             a***  Cowok         5      5     5     2        3
4            B****  Cowok         5      5     5     2        4

In [8]:
df["gender"] = df["gender"].apply(lambda x: 0 if x == "Cowok" else 1)

In [9]:
df.head()

              nama  gender  kualitas  fisik  kata  kado  bantuan
0  A**************       0         5      5     4     1        3
1            L****       1         5      5     3     2        2
2     Y***********       0         4      3     4     4        4
3             a***       0         5      5     5     2        3
4            B****       0         5      5     5     2        4

In [10]:
m_df = df[df["gender"] == 0]
f_df = df[df["gender"] == 1]

In [11]:
m_X = m_df.drop(["nama","gender"], axis=1)
f_X = f_df.drop(["nama","gender"], axis=1)

# Model Development

In [12]:
m_nbrs = NearestNeighbors(n_neighbors=5).fit(m_X)
f_nbrs = NearestNeighbors(n_neighbors=5).fit(f_X)

In [13]:
X = df.drop(["nama", "gender"], axis=1)

In [14]:
df.sample(1)

                        nama  gender  kualitas  fisik  kata  kado  bantuan
16  M***********************       0         1      1     1     1        1

In [15]:
test = X[df["nama"] == "A"].values

In [16]:
_, idx = f_nbrs.kneighbors(test)

In [17]:
idx

array([[17, 18,  0, 19, 16]], dtype=int64)

In [18]:
f_df.iloc[idx[0]]["nama"]

79    a*********************************************...
93                                              F******
1                                                 L****
97                                        K************
73                                                 R***
Name: nama, dtype: object

In [22]:
pickle.dump(m_nbrs, open("C:\Users\ryoma\Downloads", "wb"))
pickle.dump(f_nbrs, open("C:\Users\ryoma\Downloads", "wb"))
dv.to_cav("C:\Users\ryoma\Downloads", index=False)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-22-86679559b905>, line 1)

# Statistik Dasar Data & Insight Baru

In [23]:
df.describe()

           gender    kualitas       fisik        kata        kado     bantuan
count  101.000000  101.000000  101.000000  101.000000  101.000000  101.000000
mean     0.198020    4.099010    3.168317    3.722772    2.732673    3.752475
std      0.400495    1.212476    1.334686    1.209287    1.325829    1.143730
min      0.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      0.000000    4.000000    2.000000    3.000000    2.000000    3.000000
50%      0.000000    5.000000    3.000000    4.000000    3.000000    4.000000
75%      0.000000    5.000000    4.000000    5.000000    4.000000    5.000000
max      1.000000    5.000000    5.000000    5.000000    5.000000    5.000000

In [27]:
print("Dari data didapat rata-rata gender adalah 0.198020")
print("Dari data didapat rata-rata kualitas adalah 4.099010")
print("Dari data didapat rata-rata fisik adalah 3.168317")
print("Dari data didapat rata-rata kata adalah 3.722772")
print("Dari data didapat rata-rat kado adalah 2.732673")
print("Dari data didapat rata-rata bantuan adalah 3.752475")

Dari data didapat rata-rata gender adalah 0.198020
Dari data didapat rata-rata kualitas adalah 4.099010
Dari data didapat rata-rata fisik adalah 3.168317
Dari data didapat rata-rata kata adalah 3.722772
Dari data didapat rata-rat kado adalah 2.732673
Dari data didapat rata-rata bantuan adalah 3.752475

In [ ]:
print("Insight baru yang didapat yaitu:")
print("1. Ternyata rata-rata orang dalam memilih pasangan memprioritaskan dengan urutan: quality time, bantuan, word affirmation, kontak fisik, dan paling terakhir kado dari calon pacar mereka.")
print("2. Di DSC ITB ini kebanyakan orangnya laki-laki dengan rasio laki-laki banding perempuan adalah 4 banding 1")